{% load staticfiles %}
{% load humanize %}
{% load mptt_tags %}

{% for comment in comments %}
    <div class="media">
        <div class="media-left">
            <div class="vote"
                 data-what-type="comment"
                 data-what-id="{{ comment.id }}">
                <div><i class="fa fa-chevron-up {% if comment_vote == 1 %} upvoted {% endif %}"
                        title="upvote" onclick="vote(this)"></i>
                </div>
                <div class="score" title="score">{{ comment.score }}</div>
                <div><i class="fa fa-chevron-down{% if comment_vote == -1 %} downvoted {% endif %}"
                        title="downvote"
                        onclick="vote(this)"></i></div>
            </div>
        </div>
        <div class="media-body">
            <div class="reply-container">
                {{ comment.content_html|safe }}
                <h6 class="thread-info">submitted {{ comment.timestamp|naturaltime }} by <a
                        href="/user/{{ comment.author_name }}">{{ comment.author_name }}</a></h6>
                {% if user.is_authenticated and comment.author == user %}
                    <button type="button" class="btn btn-primary edit-comment-btn" data-comment-id="{{ comment.id }}">
                        Edit
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<script>
    // JavaScript code to handle comment editing
    document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".edit-comment-btn");
        editButtons.forEach(function (button) {
            button.addEventListener("click", handleEditComment);
        });

        function handleEditComment(event) {
            const commentId = event.target.getAttribute("data-comment-id");
            // Redirect to the comment editing page with the comment ID
            window.location.href = `/comment/${commentId}/edit/`;
        }
    });
</script>
